# директории в игнор
/.vs/
/AbstractFactory/
/BAK/
/ConsoleTorrentApp/
/Education/
/LoginPassword/
/mscorlib.pdb/
/packages/
/Renamer/
/System.Data.pdb/
/System.Windows.Forms.pdb/
/Timer/
/TorrentApp/
/Binding/*
/FSM/*
/PagesInterfaces/*
/Registry/*
/WpfApplication1/*


*/bin/*
*/obj/*

# Файлы в игнор
/icon.ico
/icon.psd
/Asterion.sln
/Asterion.csproj
/App.xaml

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/